@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.dark-text{
    color:#000;
}
.light-text{
    color: #fff;
}

.member-app-button{
    padding: 10px 20px;
    background-color: #514294;
    border-radius: 5px;
    color: #fff;
}

.member-app-button:hover{
    text-decoration: none;
    color: #fff;
    background-color:#514294;
}
/*HEADER SECTION*/

@media(max-width:576px){
    .header-container{
     text-align: center!important;   
    }
    }

    .rounded-xl{
        border-radius: 0.5rem;
    }


/* BANNER SECTION CSS*/

section#banner h1{
    color: #252525;
}

.large-font{
    font-size: 3.4em;
}
@media(max-width:576px){
    .large-font{
        font-size: 2.4em;
    }
}
.bg-black{
    color: #000;
    border: #000 1px solid;
    border-radius: 0%;
    transition: box-shadow 0.7s ease-out;
}
.bg-black:hover{
    box-shadow: inset 200px 0 0 0 #000;
    color: #fff;
}
@media(max-width:576px){
    section#banner a.btn{
        padding: 4px 6px!important;
    }
}


/*INTRODUCTION SECTION CSS*/

section#introduction{
    background-color: #252525;
    color: #fff;
    padding: 90px;
}
@media(max-width:576px){
    section#introduction{
        padding: 40px;
    }
}
@media(max-width:576px){
section#introduction h1{
    font-size: 1.5em;
}
}
@media(max-width:576px){
    section#introduction p{
        width: 100%!important;
    }
}
.intro-text{
    margin:0 auto;
}

.section-gap{
    width: 100%;
    height: 3.6rem;
}


/*WORK SECTION CSS*/

section#work{
    background-color: #fff;
}
.work-container{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    padding: 50px; 
    background-color:#fff;
    position: relative;
    top: -8em;   
}
@media(max-width:576px){
    .work-container{
        padding: 30px;
    }
}
@media(min-width:768px){
.work-container div.border-right{
    display: none;
}
}
@media(max-width:576px){
.front-end-column{
    margin-top: 4rem;
}
}

@media(min-width:768px){
    .web-design-column{
    border-right: 0.5px solid #dddddd;
}
}
@media(max-width:576px){
    .noodle-grill{
        margin-bottom: 2em;
    }
}
.work-heading{
    color:#f7a63c;
}
.work-gap{
    width: 100%;
    height: 4.2rem;
    background-color: #252525;
}
.font-awe-img-size{
    font-size: 3em;
}
.font-awe-img-size::before{
    color: #222;
}
.overlay{
    position: absolute;
    bottom: 0;
    top: 0;
    right: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 96%;
    height: 0%;
    transition: all 0.5s ease;
}
.overlay-images{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    border-radius: 2em;
}
.overlay-container:hover .overlay{
    height: 100%;
    border-radius: 2em;
}
.overlay-text{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.overlay-links{
    background-color: #514294;
    padding: 10px 50px;
    color: #fff;
}
.overlay-links:hover{
    background-color: #514294;
    color: #fff;
}
@media(max-width:576px){
.member-dat-text{
    margin-top: 3em;
}
}
@media(min-width:768px){
    .member-dat-logos{
        margin-top: 3em;
    }
}
@media(max-width:576px){
    .yes{
        margin-bottom:2em;
    }
}
@media(max-width:768px){
    .member-dat-secong-row-logos{
    margin-top: 3em;
}
}
@media(max-width:576px){
    .first-button{
        margin-bottom: 2em;
    }
}


/*SECTION PHO NOW CSS*/

.mt-apps{
    margin-top: 6rem;
}
section#apps{
    background-color: #889ea5;
    padding: 50px;
    color: #717171;
}
@media(max-width:576px){
    section#apps{
        padding: 20px;
    }
}
.pho-gap{
    width: 100%;
    height: 3em;
    background-color: #889ea5;
}
@media(min-width:768px){
.pho-first-row-logos{
    margin-bottom: 2em;
}
}
@media(max-width:576px){
    .pho-cms-text{
        font-size: 1.5em;
    }
}

/*SECTION EAT CSS*/

section.eat{
    background-color: #f6f6f6!important;
    color: #fff;
}

.eat-gap{
    width: 100%;
    height: 2em;
    background-color: #f6f6f6;
}

.eat-gap{
    width: 100%;
    height: 6em;
    background-color: #f6f6f6;
}

/*FOOTER*/


section#footer{
    background-color: #091f2d;
    padding-bottom: 80px;
}

.contact-container{
    position: relative;
    top: -4em;
    background-color:#889ea5;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 5px -1px #444;
    padding: 33px;
    border-radius: 10px;
    vertical-align: -webkit-baseline-middle;
}

.contact-btn{
    padding: 20px 20px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}
.contact-row{
    display: flex;
    align-items: center;
}
.contact-btn:hover{
    background-color: #fff;
    text-decoration: none;
    color: #000;
}

i.footer-font-awe:hover{
    color: rgba(0,0,0,0.4);
}
i.footer-font-awe{
    color: #fff;
    font-size: 3em;
    transition: all 0.3s ease-in;
}
@media(max-width:567px){
.contact-last-text{
    margin-top: 3em;
}
@media(max-width:567px){
    .contact-last-btn{
        margin-top: 2em;
    }